body {
    background: #BFC1F0;
    margin: 0;
    padding: 0;
    font-family: 'bebas_neueregular', sans-serif;
  }

@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
         url('bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  header {
    position: relative;
    background: #002254;
    height: 180px;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0; 
  }

  .logo {
    position: absolute;
    top: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: translateY(-300px);
    animation: slideIn 0.5s;
    animation-fill-mode: forwards;
  }

  .logo img {
    width: 180px;
    height: 116px;
    background: url(logo.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  header h1 {
    font-family: 'bebas_neueregular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    color: #59C3FF;
    -webkit-text-stroke: 1px #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    padding-top: 3rem;
    margin-left: 167px;
    margin-top: 0;
    transform: translateX(100%);
    animation: slideIn2 0.5s;
    animation-fill-mode: forwards;
  }

  .login {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: translateY(-50%);
  }
  
  .login img {
    width: 80%;
    height: 80%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .register {
    position: absolute;
    top: 50%;
    right: 120px;
    transform: translateY(-50%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: translateY(-50%);
  }
  
  .register img {
    width: 80%;
    height: 80%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .button-text {
    display: block;
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .login:hover, .register:hover {
    transform: scale(1.1);
}
  
  nav {
    background-color: #6F6CFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 1rem 0;
    margin: 0;
    font-size: 30px;
    display: flex;
    justify-content: space-between flex-start;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 40px;
    justify-content: flex-start; 
  }
  
  .nav-menu li {
    display: inline-block;
    margin-right: 60px;
    transform: translateY(-300px);
    animation: slideIn 0.5s;
    animation-fill-mode: forwards;
  }
  
  .nav-menu li a {
    color: #EDC6FF;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-menu li a:hover {
    color: #FFFFFF;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

@keyframes slideIn {
    from {
        transform: translateY(-150px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideIn2 {
    from {
      transform: translateX(100%); 
    }
    to {
      transform: translateX(0); 
    }
  }



.nav-menu li:nth-child(2){
    animation-delay: 0.2s;
}

.nav-menu li:nth-child(3){
    animation-delay: 0.4s;
}

.nav-menu li:nth-child(4){
    animation-delay: 0.8s;
}

.nav-menu li:nth-child(5){
    animation-delay: 1.0s;
}

.nav-menu li:nth-child(6){
    animation-delay: 1.2s;
}

.nav-menu li:nth-child(7){
    animation-delay: 1.4s;
}

.nav-menu li:nth-child(8){
    animation-delay: 1.6s;
}

.nav-menu li:nth-child(9){
    animation-delay: 1.8s;
}

.search-bar {
  align-items: right;
  justify-content: right;
  display: flex;
  margin-left: 3rem;
}

.search-button {
  display: inline-block, flex;
  align-items: right;
  justify-content: right;
  background-color: #6C55F7;
  color: #EDC6FF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  text-decoration: none;
  font-family: 'bebas_neueregular', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  width: fit-content;
  z-index: 1;
}

.search-button:hover {
  background-color: #4B36D1;
}

  #featured-webcomics h2 {
    text-align: center;
    margin-left: 28px;
    top: 279px;
    margin-bottom: 1rem;
    font-family: 'bebas_neueregular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #6C55F7;
    -webkit-text-stroke: 1px #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
#featured-webcomics .item {
  position: relative;
  background: #002254;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#featured-webcomics .genre {
  font-family: 'bebas_neueregular', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 10px;
}

#featured-webcomics .genre-1 {
  color: rgba(121, 99, 255, 0.99);
}

#featured-webcomics .genre-2 {
  color: #FF53D9;
}

#featured-webcomics .genre-3 {
  color: #C21515;
}

#featured-webcomics .genre-4 {
  color: #ECB800;
}

#featured-webcomics h4 {
  font-family: 'bebas_neueregular', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  color: #FFFFFF;
  margin-bottom: 10px;
  text-align: center;
}

#featured-webcomics .thumbnail {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#featured-webcomics .thumbnail img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

#featured-webcomics .item h3 {
  font-family: 'bebas_neueregular', sans-serif;
  font-size: 24px;
  color: #EDC6FF;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

#featured-webcomics .box {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#featured-webcomics p {
  font-family: 'bebas_neueregular', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 1rem;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}

#featured-webcomics .start-reading {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  background-color: #6C55F7;
  color: #EDC6FF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'bebas_neueregular', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  width: fit-content;
  z-index: 1;
}

#featured-webcomics .start-reading:hover {
  background-color: #4B36D1;
}

/* Styles for smaller screens */
@media only screen and (max-width: 768px) {
  #featured-webcomics .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }

  #featured-webcomics .item {
    width: 100%;
    height: auto;
    margin: 0.7rem 0;
  }

  #featured-webcomics .thumbnail {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Styles for bigger screens */
@media only screen and (min-width: 769px) {
  #featured-webcomics .grid {
    display: grid;
    grid-template-columns: repeat(4, 19.5rem);
    grid-template-rows: repeat(4, auto);
  }

  #featured-webcomics .item {
    width: 18.875rem;
    height: 33.75rem;
    margin: 0.7rem;
    margin-top: 0;
  }
}


  footer {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

 